<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>Classes related to automatic re-arranging the appearance of Charger graphs. These are fairly stable for 
            smaller graphs (< 100 concepts). </div>
        <p>
            Note: the term "layout" here refers to the graphical arranging of the elements of a graph.
            It has no relationship to the Java notion of a layout manager, etc.
            It also has no relationship to the XML tag "layout" used in CG graph objects.
        </p>
    </body>
</html>
